/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

.custom-font {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}

.form-font {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 00;
}

.underline-primary {
    border-bottom: 3px solid #000000;
}

.underline-secondary {
    border-bottom: 3px solid #FF5722;
} */